.logo {
  position: absolute;
  width: 106.41px;
  height: 25px;
  left: 72px;
  top: 51px;
  z-index: 10;
}
.waitlist-page-wrapper {
  height: 75vh;
  margin-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.left-side-text-wrapper {
  display: flex;
  flex-direction: column;
  width: 37%;
  height: 50%;
  align-items: left;
  justify-content: space-around;
}

.title-text {
  white-space: pre-wrap;
  font-family: Supreme-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;

  color: #0f0f0f;
}

.description-text {
  text-align: left;
  white-space: pre-wrap;
  font-family: Supreme-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: #0f0f0f;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.join-waitlist-button {
  color: white;
  font-family: Supreme-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  padding: 18px 66px;
  background: linear-gradient(103.63deg, #535ffd -11.28%, #7f53fd 111.61%);
  box-shadow: 0px 10px 20px rgba(83, 95, 253, 0.3);
  border-radius: 10px;
  border: 0px;
}

.showMeHow-text {
  font-family: Supreme-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration-line: underline;
  margin-left: 100px;
  color: #535ffd;
}

.image-wrapper {
  width: 42%;
  margin-left: 100px;
}

.image-wrapper > img {
  width: 590px;
  height: 731px;
}

.background-navbar {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 34.58%,
    rgba(255, 255, 255, 0.81) 51.56%,
    rgba(255, 255, 255, 0) 100%
  );
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 25vh;
}
.waitlist-form-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.waitlist-left-side {
  width: 50%;
  height: 100%;
}

.waitlist-right-side {
  width: 50%;
  height: 100%;
}
.form-title {
  margin-top: 108px;
  width: 100%;
  height: 24px;

  font-family: Supreme-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  color: #0f0f0f;
}

.input-field-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 50px;
}
.field-label {
  margin-bottom: 16px;
  margin-left: 16px;
  width: 100%;
  font-family: Supreme-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: #0f0f0f;
}
.input-field {
  padding: 12px 16px;
  width: 100%;
  margin: 0 10px;
  border: 1px solid #7058fe;
  box-sizing: border-box;
  border-radius: 10px;
}
.field-description {
  margin-top: 16px;
  margin-left: 16px;
  font-family: Supreme-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #0f0f0f;
}
.waitlist-buttons {
  position: fixed;
  bottom: 95px;
  right: 10%;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.waitlist-next-button {
  background: linear-gradient(103.63deg, #535ffd -11.28%, #7f53fd 111.61%);
  box-shadow: 0px 10px 20px rgba(83, 95, 253, 0.3);
  border-radius: 10px;
  padding: 18px 80px;
  border: 0px;
  margin-left: 50%;
  color: white;
  font-family: Supreme-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.waitlist-back-button {
  cursor: pointer;
  font-family: Supreme-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-decoration-line: underline;
  margin-left: 5%;
  color: #535ffd;
}

.completed-text-1 {
  margin-top: 6vw;
  font-family: Supreme-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: #0f0f0f;
}

.completed-text-2 {
  margin-top: 10vw;
  font-family: Supreme-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  color: #0f0f0f;
}

.referral-input {
  margin-top: 5vh;
}
.form-fields-wrapper {
  width: 80%;
}
.referral-wrapper {
  display: flex;
}
.referral {
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 48px;
  width: 80%;
  border: 1px solid #7058fe;
  box-sizing: border-box;
  border-radius: 10px;
}
.referral-icon {
  margin-left: -48px;
}
.twitter-icon {
  margin-left: auto;
}
