body {
  margin: 0;
  font-family: "Supreme", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::placeholder {
  font-family: Supreme;
  font-weight: 200;
}
#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

:focus-visible {
  outline: #7058fe auto 1px;
}
